<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KSI MERN</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- Header -->
    <header class="header-container">
        <div class="logo-section">
            <div class="logo">K</div>
            <div class="brand-name">KSI MERN</div>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-container">
            <h1 class="hero-title">Welcome to KSI MERN!</h1>
            <p class="hero-subtitle">
                Predict if an accident in Toronto will be Fatal or Non-fatal!
                Select a location on the map to begin!
            </p>
        </div>
    </section>

    <!-- Main Section -->
    <main class="main-section">
        <div class="main-item map-container" id="map-container">
            map
        </div>
        <div class="main-item feature-container">
            feature
            <!-- <form class="feature-form">
                <label for="x">X:</label>
            <input type="text" id="x" placeholder="Enter X coordinate">

            <label for="y">Y:</label>
            <input type="text" id="y" placeholder="Enter Y coordinate">
            </form> -->
            <div id="coord-display">X: 0, Y: 0</div>
        </div>
        <div class="main-item prediction-container">
            prediction
        </div>    
    </main>

    <!--footer section-->
    <footer class="footer-section">
        © 2024 KSI MERN. All rights reserved.
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>